@font-face {
	font-family: "Alegreya Sans Medium";
	src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf) format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Alegreya SC Regular";
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf) format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Alegreya SC Medium";
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf) format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Nixie One";
	src: url(../fonts/Nixie_One/NixieOne-Regular.ttf) format("truetype");
	font-display: swap;
}

/* 
===========================================
                    Defaults
===========================================
*/

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
	margin: 0;
	padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html {
	height: 100%;
}

body {
	min-height: 100%;
}

/* 4. Add accessible line-height */
body {
	line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select,
a {
	font: inherit;
	color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

/* 
===========================================
                    General
===========================================
*/

:root {
	--font-default: Helvetica, Arial, sans-serif;
	--font-accent: "Alegreya Sans Medium", "Times New Roman", Times, serif;
	--font-logo: "Alegreya SC Medium", "Times New Roman", Times, serif;
	--font-hero-heading: "Nixie One", "Times New Roman", Times, serif;
	--font-hero-heading-sub: "Alegreya SC Regular", "Times New Roman", Times,
		serif;
	--spacing-horizontal: 128px;
	--spacing-vertical: 64px;

	--color-default-contrast: #fff;
	--color-default: #6a6a6a;
	--color-heading-default: #3a4f52;
	--bg-color-img-hover: #02393bb3;
	--bg-color-img: #c3c9cc;
	--bg-color-card: #00000033;
	--color-links: #4da7ca;
	--color-input: #cccccc;
	--bg-color-input: #ffffff01;
	--bg-color-footer: #2b3e51;
	--bg-color-contact: #405162;
	--bg-color-body: #f1f0f0;
	--color-hero-heading-sub: #ffffff80;
}

body {
	font-family: var(--font-default);
	font-size: 0.875rem;
	color: var(--color-default);
	background-color: var(--bg-color-body);
}

section:not(.hero),
footer {
	padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.card {
	background-color: var(--bg-color-card);
}

.flex {
	display: flex;
	gap: 32px;
	margin-top: var(--spacing-vertical);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: var(--font-hero-heading);
	font-size: 3.5rem;
	color: var(--color-default-contrast);
	font-weight: 400;
	text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
	color: var(--color-heading-default);
	font-weight: 500;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.875rem;
}

a {
	color: var(--color-links);
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	padding: 0.75em 1rem;
	border: var(--color-heading-default) solid 2px;
	color: var(--color-heading-default);
	font-family: var(--font-default);
	font-size: 1.125rem;
}

button:hover {
	background-color: var(--bg-color-footer);
	color: var(--color-default-contrast);
}

.btn-transparent {
	background-color: transparent;
	color: var(--color-default-contrast);
	border-color: var(--color-default-contrast);
}

.btn-transparent:hover {
	background-color: var(--color-default-contrast);
	color: var(--color-default);
}
/* 
===========================================
                    header
===========================================
*/

header {
	height: 100vh;
	background: var(--bg-color-footer) url(../img/hero.png) center / cover;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 32px;
}

nav a {
	color: var(--color-default-contrast);
	font-family: var(--font-logo);
	font-size: 2.25rem;
}

.hamburger {
	font-size: 2.25rem;
	color: var(--color-default-contrast);
	cursor: pointer;
}

header > div p {
	font-family: var(--font-hero-heading-sub);
	color: var(--color-hero-heading-sub);
	text-align: center;
	font-size: 1.375rem;
}

/* 
===========================================
                    main
===========================================
===========================================
                    works
===========================================
*/

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
	margin-top: var(--spacing-vertical);
}

.gallery > div {
	position: relative;
	overflow: hidden;
	background-color: var(--bg-color-img);
	aspect-ratio: 3 / 2;
}

.gallery > div > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color-img-hover);
	opacity: 0;
}

.gallery > div:hover > div {
	opacity: 1;
}

.gallery img {
	width: 100%;
}

.gallery > div > img {
	transform: scale(1);
	transition: transform 300ms;
}

.gallery > div:hover > img {
	transform: scale(1.5);
}
/* 
===========================================
                    service
===========================================
*/

.services {
	background: var(--bg-color-footer) url(../img/services.png) center / cover
		fixed;
	text-align: center;
	color: var(--color-default-contrast);
}

.services h2 {
	color: var(--color-default-contrast);
	margin-bottom: 16px;
}
.services .flex {
	padding: 32px;
}

.services article h3 {
	color: var(--color-default-contrast);
	margin-bottom: 32px;
}

/* 
===========================================
                    blog
===========================================
*/

.date {
	font-size: 0.875rem;
	font-style: italic;
}

.blog article div {
	margin-top: 16px;
	gap: 16px;
}

/* 
===========================================
                    lorem
===========================================
*/

.lorem {
	background: var(--bg-color-footer)
		url(../img/4f6768d16f4d0914c7b5ddb743f600df2edc50bf.png) center / cover
		fixed;
}

.lorem .card {
	padding: 32px;
	text-align: center;
}

.lorem .card h2 {
	color: var(--color-default-contrast);
}

.lorem .card button {
	margin-top: var(--spacing-vertical);
}

/* 
===========================================
                    testimonials
===========================================
*/
.testimonials article {
	text-align: center;
	gap: 16px;
}
.testimonials img {
	height: 150px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
}

.name {
	font-weight: 700;
}

/* 
===========================================
                    contact
===========================================
*/

.contact {
	background: var(--bg-color-footer) url(../img/contact.png) center / cover
		fixed;
	text-align: center;
}

form {
	padding: 32px;
}

form h2 {
	color: var(--color-default-contrast);
}

form p {
	color: var(--color-default-contrast);
}

form > div {
	margin-top: var(--spacing-vertical);
	gap: 16px;
}

input,
textarea {
	min-width: 50%;
	background-color: var(--bg-color-input);
	color: var(--color-default-contrast);
	padding: 0.5em;
	border: 1px solid var(--color-input);
}

form button {
	align-self: center;
}

/* 
===========================================
                    footer
===========================================
*/

footer {
	background-color: var(--bg-color-footer);
	color: var(--color-default-contrast);
}

label {
	position: absolute;
	left: -100%;
}

/* 
===========================================
                    media querries
===========================================
*/

@media screen and (max-width: 900px) {
	:root {
		--spacing-horizontal: 32px;
		--spacing-vertical: 32px;
	}

	.services .flex {
		flex-direction: column;
	}

	.testimonials .flex {
		flex-direction: column;
	}

	input,
	textarea {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.services:not(.hero),
	.lorem:not(.hero),
	.contact:not(.hero) {
		padding: var(--spacing-vertical) 0;
	}

	.gallery {
		grid-template-columns: repeat(1, 1fr);
	}

	.flex {
		flex-direction: column;
	}

	.gallery > div > div {
		opacity: 1;
	}
}

/* TODO
Buttons:
	in form use input[type="submit"]
	if they just link to another page use a
	if it prefroms something like open a menu/popup/perform action use button

convert img to webP or AVIF and add sizings
add lazy img loading
go through checklist
*/
