@font-face {
	font-family: "Alegreya Sans Medium";
	src: url(../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
	font-family: "Alegreya SC Regular";
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf);
}

@font-face {
	font-family: "Alegreya SC Medium";
	src: url(../fonts/Alegreya_SC/AlegreyaSC-Medium.ttf);
}

@font-face {
	font-family: "Nixie One";
	src: url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}

/* 
===========================================
                    Defaults
===========================================
*/

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
	margin: 0;
	padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html {
	height: 100%;
}

body {
	min-height: 100%;
}

/* 4. Add accessible line-height */
body {
	line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select,
a {
	font: inherit;
	color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

/* 
===========================================
                    General
===========================================
*/

:root {
	--font-default: Helvetica;
	--font-accent: "Alegreya Sans Medium";
	--font-logo: "Alegreya SC Medium";
	--font-hero-heading: "Nixie One";
	--font-hero-heading-sub: "Alegreya SC Regular";
	--padding-page: 128px;

	--color-white: #fff;
	--color-text-default: #6a6a6a;
	--color-heading-default: #3a4f52;
	--bg-color-img: #c3c9cc;
	--bg-color-card: #00000033;
	--color-links: #4da7ca;
	--color-input: #cccccc;
	--bg-color-input: #ffffff01;
	--bg-color-footer: #2b3e51;
	--bg-color-contact: #405162;
	--bg-color-body: #f1f0f0;
	--color-hero-heading-sub: #ffffff80;
}

body {
	font-family: var(--font-default);
	font-size: 0.875rem;
	color: var(--color-default);
	background-color: var(--bg-color-body);
}

h1 {
	font-family: var(--font-hero-heading);
	font-size: 3.5rem;
}

h2 {
	font-family: var(--font-accent);
	font-size: 2.25rem;
	color: var(--color-heading-default);
}

a {
	color: var(--color-links);
}

/* 
===========================================
                    header
===========================================
*/
